MySQL-python==1.2.5
Pillow==3.1.1
gunicorn==19.3.0

Django==1.9.4
django-extensions==1.6.1
django-object-actions==0.7.0
django-admin-sortable2==0.6.2

django-debug-toolbar==1.4
django-inmemorystorage==0.1.1
mock==1.3.0
model-mommy==1.2.6
ipdb==0.9.0
django-admin-bootstrapped==2.4.0
django-bootstrap3==6.1.0

dj-database-url==0.4.0
dj-static==0.0.6